
.book-box{
    width: 550px;
    height: 450px;
    border-radius: 3%;
    background-color: rgb(56, 150, 226);
    display: flex;
    justify-content: center;
    margin: 150px auto;
}

.book-content{
    margin-top: 100px;

    *{
        font-size: 18px;
    }
    
    div{
        padding: 10px;
    }

    .img-input{
        display: flex;
        align-items: center;
    }

    .new-book-btn{
        margin-top: 20px;
        margin-left: 140px;
    }
}

.crud-container{
    margin: 0 auto;
    width: 480px;
    height: 330px;
    margin-top: 200px;
    border: 1px solid gray;
}


