.header {
    width: 100%;
    background: #f4f4f4;
}
.header_inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px;
}

.color{
    color: white;
}

.div-icon{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
